#dados{
    margin-top:30px;
    margin-left:20px;
}

#projeto1{
    min-width: 120px;
    border-radius:3px;
    margin-bottom:10px;
    height: 70px;
}

#img_img{
    width: 120px;
}

#subtitulo{
    font-size:13px;
}

#texto_explicativo{
    margin-right: 30px;
    font-size: 11px ;
    font-family: Fredoka One;
}

#img_icon{
    border-radius: 100px;
    width:100px;
    height:100px;
}

#nome{
    margin-left: 50px;
    font-family: Fredoka One;
    font-size:18px;
    line-height: 10px;
}

#function{
    font-size:14px;
    font-family: Fredoka One;
    color:#244B9A;
    line-height: 0px;
    margin-left:75px;
}

#projeto{
    border-radius: 3px;
    background-color: #c4c4cc;
    max-width: 120px;
}

#projeto2{
    min-width: 115px;
    border-radius:3px;
    margin-bottom:10px;
    height: 70px;
}

#phone_number{
    font-size: 25px;
    color:white;
    font-family: Fredoka One;
    line-height: 20px;
}

#contato_text{
    font-size: 28px;
    color:#55A990;
    font-family: Fredoka One;
    line-height: 15px;
}

#email_text{
    font-size: 28px;
    color:#2758B9;
    font-family: Fredoka One;
    line-height: 15px;
}

#phone{
    color:#55A990;
    height: 60px;
    width: 30px;
}

#envelope{
    color:#2758B9;
    height: 60px;
    width: 30px;
}

#email_contato{
    line-height: 10px;
    color:white;
    font-size: 17px;
    font-family: Fredoka One;
}

#phone_button{
    color:#55A990;
    height: 35px;
    width: 20px;
}

#envelope_button{
    color:#2758B9;
    height: 35px;
    width: 23px;
    -webkit-transform: rotate(20deg);
}

#aloja{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.mostrarsub{
    transition: height  0.5s;
    overflow: hidden;
    height:65px;
}

.escondersub{
    transition: height  0.5s;
    overflow: hidden;
    height:65px;
}

@media only screen and (min-width: 1400px)  {
    #img_img{
        width: 180px;
    }
    .mostrarsub{
        transition: height  0.5s;
        overflow: hidden;
        height:125px;
    }
    .escondersub{
        transition: height  0.5s;
        overflow: hidden;
        height:100px;
    }
    #subtitulo{
        font-size:15px;
    }
  }

@media only screen and (min-width: 600px)  { 
    .mostrarsub{
        transition: height  0.5s;
        overflow: hidden;
        height:100px;
    }   
    #projeto{
        border-radius: 3px;
        background-color: #c4c4cc;
        min-width: 140px;
    }
    .escondersub{
        transition: height  0.5s;
        overflow: hidden;
        height:78px;
    }
    #img_img{
        width: 140px;
    }
    #phone_button{
        color:#55A990;
        height: 40px;
        width: 25px;
    }
    
    #envelope_button{
        color:#2758B9;
        height: 40px;
        width: 28px;
        -webkit-transform: rotate(20deg);
    }
    #aloja{
        display: flex;
        flex-wrap: nowrap;
        margin-right: 10px;
    }
    
    #img_icon{
        border-radius: 100px;
        width:120px;
        height:120px;
    }
    #texto_explicativo{
        margin-right: 30px;
        font-size: 15px ;
        font-family: Fredoka One;
    }
    
    #nome{
        margin-left: 50px;
        font-family: Fredoka One;
        font-size:25px;
        line-height: 10px;
    }

    #function{
        font-size:23px;
        font-family: Fredoka One;
        color:#244B9A;
        line-height: 0px;
        margin-left:75px;
    }
}

@media only screen and (min-width: 900px)  {
    
    #img_icon{
        border-radius: 100px;
        width:150px;
        height:150px;
    }
}

@media only screen and (min-width: 1400px){
    #img_img{
        width: 180px;
    }

    #projeto{
        border-radius: 3px;
        background-color: #c4c4cc;
        min-width: 180px;
    }

    .escondersub{
        transition: height  0.5s;
        overflow: hidden;
        height:100px;
    }

    .mostrarsub{
        transition: height  0.5s;
        overflow: hidden;
        height:125px;
    }
    
}
  
