#container{
    height:100vh;
    weight:100vh;
    background:linear-gradient(to top right, white 50%, #2758B9 50%)
  }
html{
    overflow-y:hidden !important;
  }
#posicionamento{
  width:300px;
  margin-left: 25%;
}

#posi_projan{
  margin-top:20%;
  margin-left:0%;
  min-width:300px;
  min-height:60%;
}

#posi_projetos{
  margin-top:200px;
  max-width:295px;
  min-height:380px;
}

#info{
  min-width: 400px;
  background-color:#151515;
  border-top-left-radius:48px;
  border-top-right-radius:48px;
}


.pago{
  -webkit-transition: background-color 0.5s;
  background-color:rgba(0, 0, 0, 0.4)
}
.npago{
  -webkit-transition: background-color 0.8s;
  background-color:transparent;
}

.informar{
  -webkit-transition: height 0.7s;
  overflow: hidden;
  height: 500px;
}
.ninformar{
  transition: height  0.5s;
  overflow: hidden;
  height : 0px;
}

.desaparecer{
  transition: max-width  1s;
  transition: opacity  0.7s;
  max-width: 0px;
  opacity: 0;
}

.aparecer{
  -webkit-transition: min-width  1s;
  transition: opacity  0.7s;
  overflow: hidden;
  min-width: 120px;
  opacity: 5;
}

.transiBolona{
  -webkit-transition: height 0.7s;
  overflow: hidden;
  height: 500px;
}

.semtransiBolona{
  transition: height  0.5s;
  overflow: hidden;
  height : 0px;
}

.hover{
  transition: opacity  0.7s;
  overflow: hidden;
  opacity : 5;
}

.nohover{
  transition: opacity  0.7s;
  overflow: hidden;
  opacity : 0;
}

@media only screen and (min-width: 600px)  {
  #info{
    min-width: 600px;
    background-color:#151515;
    border-top-left-radius:48px;
    border-top-right-radius:48px;
  }

  .informar{
    -webkit-transition: height 0.7s;
    overflow: hidden;
    height: 400px;
  }
  #posi_projan{
    margin-top:10%;
    margin-left:20%;
    min-width:300px;
    min-height:60%;
  }
}


@media only screen and (min-width: 900px)  {
  #posi_projan{
    margin-top:0%;
    margin-left:40%;
    min-width:300px;
    min-height:60%;
  }
  #posicionamento{
    width:300px;
    margin-left: 40%;
  }
  .informar{
    -webkit-transition: height 0.7s;
    overflow: hidden;
    height: 350px;
  }
}

@media only screen and (min-width:1200px){
  #posi_projan{
    margin-top:0%;
    margin-left:60%;
    min-width:300px;
    min-height:60%;
  }
}