#sombra_logo{
    margin-top:25%;
    min-width: 180px;
    min-height: 50%;
    background-color:rgb(0,0,0,0);
}

#complementosombra{
    background-color:rgb(0,0,0,0);
}



#sombralateral{
    margin-top:15%;
    min-width:80px;
    min-height:400px;
}

#sombrabaixa{
    max-width:300px;
    min-height:60px;
}

#sombrabaixadireita{
    max-width: 400px;
    margin-bottom: 90%;
}

#sombralateraldireita{
    margin-top:70px;
    min-width:80px;
    min-height:600px;
}

.semprosombra{
    transition: min-width  0.5s;
    overflow: hidden;
    min-width : 170px;
}
.comprosombra{
    transition: min-width  0.7s;
    overflow: hidden;
    min-width : 550px;
}

.comsombra{
    -webkit-transition: min-width  0.7s;
    overflow: hidden;
    min-width : 800px;
}
.semsombra{
    -webkit-transition: min-width  0.5s;
    overflow: hidden;
    min-width : 300px;
}

@media only screen and (min-width: 600px){
    #complementosombradireita{
        background-color:rgb(0,0,0,0);
        margin-top: 100%;
        min-height:60px;
        min-width: 100px;
    }
    #sombrabaixadireita{
        max-width: 300px;
        margin-bottom: 20%;
    }
}

@media only screen and (min-width: 900px)  {
    #sombra_logo{
        margin-top:13%;
        min-width: 240px;
        min-height: 50%;
        background-color:rgb(0,0,0,0.2);
    }
    
}
